/* Variable Declarations */
* {
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpeg);
    background-position: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;  
}

/*styling for headers*/
h1,
h2,
h3,
h4 {
    line-height: 1.4;
}

h1 {
    font-size: 39px;
    line-height: 1.5;
    font-weight: 600;
}

h2 {
    font-size: 31px;
    line-height: 1.5;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}

/* styling for text */
p {
    margin: 0;
}

/*img*/
img {
    width: 100%;
}

.margin-bottom {
    margin-bottom: 2em;
}

/* styling for lists */
ul,
ol {
    margin: 0;
}

.padded-list {
    margin: 16px 0;
}

.padded-list-top {
    margin: 16px 0 0 0;
}

.numberless {
    padding-left: 0;
    list-style-type: none;
}

.numberless li:not(:last-child) {
    padding: 0;
}

.numberless li:last-child {
    padding: 0;
}

.numberless p {
    margin: 0;
}

.constraints {
    margin: 0 0 16px 0;
}

/* styling for img */
.project-card__media-wrapper img {
    border-radius: 50vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.project-card {
    display: flex;
    flex-direction: column;
}
.project-card__media-wrapper {
    order: -1;
}

.project-card__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
    gap: 2em;
}


.project-img {
    max-width: 500px;
}

.img-margin {
    margin: 16px 0 0 0;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #ffcccc;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

header {
padding: 15px 0px ;
}



/* task 2.3 */
nav > ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.nav{
    display:inline-block;
    width:100%;
    
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 12px 0;
    border-top: 1px solid rgb(79, 122, 165);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #4a4a4a;
}

nav > ul > li > a:hover {
    color: #868B96;
}


.container {
    max-width: 1200px;
    padding: 0 15px;
}

.color {
    height: 1200px;
    background-color: #f3f3f3;
}

#contact {
    margin-top: 40px;
    padding: 40px 0;
    background-color: #f6f6f6;
}

@media only screen and (min-width: 640px) {

    header {
        text-align: unset;
        padding: 30px 0;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 0px;
    }

    .navtoggle.responsive nav {
        padding: 0px 0 0;
    }

    nav > ul {
       
    }

    nav > ul > li {
        display: inline-block;
    }

    .navtoggle.responsive li {
        padding: 0px 0;
        border-top: 0px solid rgb(79, 122, 165);
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    main {
        padding-top: 133px;
    }

    .container {
        margin: 0 auto;
    }

    .project-grid {
        grid-template-columns: 1fr 1fr ;
    }

}

